.component {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left; 
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
}

.button:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.buttonchildren {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonchild {
    flex: 1;
}

.actionbutton {
    border-radius: 1em;
    width: 1em;
    height: 1em;
    padding: 0.5em;
}

.actionbutton:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.input {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
}

/* DROPDOWN */
.dropdown {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1em 1.5em;
    z-index: 1;
    margin: 0;
}

.dropdown-element {
    flex: 1;
    color: #000;
    text-decoration: none;
    width: 10em;
}

.dropdown-element:hover {
    background-color: #ddd;
    border-bottom: 1px solid #000;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* SPINNER */
.spinner {
    animation: spinner-loading 1s linear infinite;
}

@keyframes spinner-loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* INPUT */
.editform {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 15em;
    background-color: #ccc;
}

/* TABLE */
.table {

}

.tablehead {
    background-color: #ddd;
    padding: 0.5em;
}

.tablehead-column {
    text-align: left;
    padding: 0.5em;
}

.tablerow {
    padding: 0.5em;
}

.tablerow:hover {
    background-color: #ddd;
}

.tablecolumn {
    padding: 0.5em;
}
