/* APP */
.App {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 2em;
    background-color: #ccc;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.table {
    width: 100%;
}

@media (min-width: 1000px) {

    /* APP */
    .App {
        display: flex;
        flex-direction: row;
    }

    .content {
        flex: 6;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-left: 1em;
    }

    .navigation {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 14em;
        min-width: 10em;
        background-color: #ccc;
        height: 100%;
        box-sizing: border-box;
    }

    .table {
        width: initial;
    }
}

.padding {
    padding: 0.5em;
}

.margin {
    margin: 1em;
}

.rounded {
    border-radius: 0.5em;
}

.shadow {
    box-shadow: 0.1em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.margin-top {
    margin-top: 1em;
}

.transparent {
    background-color: transparent;
    border: none;
}

/* ELEMENTS */
ul {
    list-style: none;
}

td {
    padding-top:  1em;
    padding-left: 1em;
}

/* FLEX */
.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.right {
    text-align: right;
}

.flexitem {
    flex: 1;
}

/* SKELETON */
.skeleton {
    background-color: #ddd;
    border-radius: 5px;
    margin: 0;
    max-width: 600px;
    min-height: 1em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 77%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}