table {
  box-sizing: border-box;
  border-collapse: collapse;
}

th {
  text-align: left;
  min-width: 50px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:hover {
  background-color: #D6EEEE;
}