
.App {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex-direction: column;
  background-color: #ddd;
  padding: 20px;
  max-width: 300px;
}

.links {
  position: sticky;
  list-style: none;
  top: 20px;
}

.content {
  flex: 3;
  background-color: #fafafa;
  padding: 20px;
}
